// Colors

$color-primary-light: rgb(193, 106, 255);
$color-primary-dark: rgb(73, 18, 112);

$color-primary-blend: linear-gradient(
    to right bottom, 
    rgba($color-primary-dark,.5),
    rgba($color-primary-light,0.5));


$color-white: rgb(255, 255, 255);
$color-black: rgb(36, 36, 36);

// Grid

$gutter-width: 2rem;