@keyframes moveDownLeft {
  0% {
    opacity: 0;
    transform: translate(-200px, -150px); }
  100% {
    opacity: 1;
    transform: translate(0, 0); } }

@keyframes moveDownRight {
  0% {
    opacity: 0;
    transform: translate(200px, 150px); }
  100% {
    opacity: 1;
    transform: translate(0, 0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .7; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.card {
  height: 40rem;
  width: 40rem;
  text-align: center;
  position: relative;
  -mox-prespective: 150rem;
  perspective: 150rem;
  margin: 2rem auto; }
  .card__side {
    height: 40rem;
    width: 40rem;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 1rem 2rem rgba(36, 36, 36, 0.3);
    backface-visibility: hidden;
    transition: all .8s ease; }
    .card__side--front {
      background-color: white; }
    .card__side--back {
      transform: rotateY(180deg);
      background-color: green; }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotate(0); }

.heading-section {
  color: #491270;
  text-align: center;
  margin: 10rem 0; }
  .heading-section__title {
    font-size: 4rem;
    margin-bottom: 2rem; }
  .heading-section__details {
    font-size: 3rem; }

.name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  text-shadow: 0 0.5rem 1rem rgba(36, 36, 36, 0.8); }
  .name__display {
    font-size: 8rem;
    animation: moveDownLeft 2s; }
  .name__details {
    font-size: 4rem;
    animation: moveDownRight 2s; }

.footer {
  margin: 10rem 2rem 2rem 2rem;
  background-image: linear-gradient(to right bottom, rgba(73, 18, 112, 0.5), rgba(193, 106, 255, 0.5));
  height: 20rem;
  overflow: hidden; }
  .footer__link {
    margin: 1rem; }

.row {
  margin: 0 auto;
  max-width: 114rem; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row .col-1-of-2 {
    width: 50%;
    float: left; }

.header {
  position: relative;
  margin: 2rem;
  height: 60vh;
  background-image: linear-gradient(to right bottom, rgba(73, 18, 112, 0.5), rgba(193, 106, 255, 0.5));
  background-image: cover; }

.navigation__icon {
  color: white;
  position: absolute;
  display: inline-block;
  font-size: 2.5rem;
  top: 3rem;
  left: 3rem;
  margin: 1rem; }
  .navigation__icon--border {
    position: absolute;
    top: -1rem;
    left: -.5rem;
    outline: 1rem solid white;
    padding: 2.5rem;
    transition: all 1.2s cubic-bezier(0.54, 1.6, 1, 0.98); }
    .navigation__icon--border:hover {
      transform: rotate(180deg); }

.navigation__list {
  text-align: right;
  margin-right: 1.8rem; }

.navigation__item {
  display: inline-block;
  margin: 2rem;
  font-size: 2.5rem; }

.navigation__link {
  display: inline-block;
  transition: all .2s; }
  .navigation__link:link, .navigation__link:visited, .navigation__link:active {
    text-decoration: none;
    color: white; }
  .navigation__link:hover {
    text-shadow: 0 0.5rem 1rem rgba(36, 36, 36, 0.8);
    transform: skew(-10deg, 8deg) scale(1.5); }

.section-about {
  margin: 2rem; }
