.footer {
    margin: 10rem 2rem 2rem 2rem;
    background-image: $color-primary-blend;
    height: 20rem;
    overflow: hidden;
    
    & a {
        text-decoration: none;
    }

    &__link {
        margin: 1rem;
    }
}